build/
imgui.ini
settings.ini
.vscode/
.vs/
.cap
.DS_Store
CMakeUserPresets.json
.cache/
.idea/
.claude/
**/bin/
**/bin-int/
Intermediates
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
bin/
bin-int/